<div class="staff_form_box">

  <div class="staff_form_box_inner">


    <div class="staff_form_head">

      <div class="staff_form_head_inner">

        <h2>Pro Staff <span>Form</span></h2>
        <p>Well here they are in case you want to put them in (subject to change)</p>
        <div class="staff_form_dividwe">
          <span></span>
          <span></span>

</div>

</div>


</div>

    <div class="staff_form_wrapper">

      <div class="staff_form_wrapper_inner">
 {%- assign formId = 'ContactForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form_id: formId %}


        <div class="staff_form_row">

          <div class="staff_form_col staff_form_col_6">

            <div class="staff_form_gp">
<label for="staff_forn_fn">First Name *</label>
<input required type="text" id="staff_forn_fn"  name="contact[First Name]"  />


</div>

</div>

          <div class="staff_form_col staff_form_col_6">

            <div class="staff_form_gp">
<label for="staff_forn_ln">Last Name *</label>
<input required type="text" id="staff_forn_ln"  name="contact[Last Name]"  />


</div>
</div>


</div>

<div class="staff_form_row">

          <div class="staff_form_col staff_form_col_12">

            <div class="staff_form_gp">
<label for="staff_forn_sa">Street Address *</label>
<input required type="text" id="staff_forn_sa"  name="contact[Street Address]"  />


</div>

</div>

     


</div>

<div class="staff_form_row">

          <div class="staff_form_col staff_form_col_12">

            <div class="staff_form_gp">
<label for="staff_forn_sal">Street Address Line 2</label>
<input required type="text" id="staff_forn_sal"  name="contact[Street Address Line 2]"  />


</div>

</div>

     


</div>

  <div class="staff_form_row">

          <div class="staff_form_col staff_form_col_4">

            <div class="staff_form_gp">
<label for="staff_forn_city">City *</label>
<input required type="text" id="staff_forn_city"  name="contact[City]"  />


</div>

</div>

          <div class="staff_form_col staff_form_col_4">

            <div class="staff_form_gp">
<label for="staff_forn_state">State / Province *</label>
<input required type="text" id="staff_forn_state"  name="contact[State Province]"  />


</div>
</div>

  <div class="staff_form_col staff_form_col_4">

            <div class="staff_form_gp">
<label for="staff_forn_zip">Postal / Zip Code *</label>
<input required type="text" id="staff_forn_zip"  name="contact[Postal Zip Code]"  />


</div>
</div>

</div>

 <div class="staff_form_row">

          <div class="staff_form_col staff_form_col_6">

            <div class="staff_form_gp">
<label for="staff_forn_phone">Phone *</label>
<input required type="text" id="staff_forn_phone"  name="contact[Phone]"  />


</div>

</div>

          <div class="staff_form_col staff_form_col_6">

            <div class="staff_form_gp">
<label for="staff_forn_ea">Email address *</label>
<input required type="text" id="staff_forn_ea"  name="contact[email]"  />


</div>
</div>


</div>

<div class="staff_form_row">

          <div class="staff_form_col staff_form_col_12">

            <div class="staff_form_gp">
<label for="staff_forn_dob">Date of Birth *</label>
<input required type="text" id="staff_forn_dob"  name="contact[Date of Birth]"  />


</div>

</div>

     


</div>

  <div class="staff_form_row">

          <div class="staff_form_col staff_form_col_4">

            <div class="staff_form_gp">
<label for="staff_forn_insta">Instagram Page *</label>
<input required type="text" id="staff_forn_insta"  name="contact[Instagram Page]"  />


</div>

</div>

          <div class="staff_form_col staff_form_col_4">

            <div class="staff_form_gp">
<label for="staff_forn_instafoll">Number of Instagram Followers</label>
<input type="text" id="staff_forn_instafoll"  name="contact[Number of Instagram Followers]"  />


</div>
</div>

  <div class="staff_form_col staff_form_col_4">

            <div class="staff_form_gp">
<label for="staff_forn_facebook">Facebook Page</label>
<input type="text" id="staff_forn_facebook"  name="contact[Facebook Page]"  />


</div>
</div>

</div>

  <div class="staff_form_row">

          <div class="staff_form_col staff_form_col_6">

            <div class="staff_form_gp">
<label for="staff_forn_utube">Youtube Account</label>
<input required type="text" id="staff_forn_utube"  name="contact[Youtube Account]"  />


</div>

</div>

          <div class="staff_form_col staff_form_col_6">

            <div class="staff_form_gp">
<label for="staff_forn_num_utube">Number of Youtube Followers</label>
<input type="text" id="staff_forn_num_utube"  name="contact[Number of Youtube Followers]"  />


</div>
</div>


</div>

<div class="staff_form_row">

          <div class="staff_form_col staff_form_col_12">

            <div class="staff_form_gp staff_form_gp_radio ">
              <p>How many times a month do you fish? *</p>

<label for="staff_forn_1_5">
<input required type="radio" id="staff_forn_1_5"  name="contact[How many times a month do you fish?]" value="1-5"  />
  <span>1-5</span>
</label>
<label for="staff_forn_1_2">
<input required type="radio" id="staff_forn_1_2"  name="contact[How many times a month do you fish?]" value="6-10"  />
  <span>6-10</span>
</label>
<label for="staff_forn_1_3">
<input required type="radio" id="staff_forn_1_3"  name="contact[How many times a month do you fish?]" value="11-15"  />
  <span>11-15</span>
</label>
<label for="staff_forn_1_6">
<input required type="radio" id="staff_forn_1_6"  name="contact[How many times a month do you fish?]" value="16+"  />
  <span>16 or more</span>
</label>
</div>

</div>

     


</div>

<div class="staff_form_row">

          <div class="staff_form_col staff_form_col_12">

            <div class="staff_form_gp">
<label for="staff_forn_fish_ulike">What kind of fishing do you like to do? *</label>
              <textarea required  id="staff_forn_fish_ulike"  name="contact[What kind of fishing do you like to do?]"></textarea>


</div>

</div>

     


</div>
<div class="staff_form_row">

          <div class="staff_form_col staff_form_col_12">

            <div class="staff_form_gp">
<label for="staff_forn_fish_psp">What is important for you in a Pro Staff partnership and a brand? *</label>
              <textarea required  id="staff_forn_fish_psp"  name="contact[What is important for you in a Pro Staff partnership and a brand?]"></textarea>


</div>

</div>

     


</div>

<div class="staff_form_row">

          <div class="staff_form_col staff_form_col_12">

            <div class="staff_form_gp staff_form_gp_radio ">
              <p>Are you willing to share 1-3 social media posts per month with our product? *</p>

<label for="staff_forn_1_510">
<input required type="radio" id="staff_forn_1_510"  name="contact[Are you willing to share 1-3 social media posts per month with our product?]" value="Yes"  />
  <span>Yes</span>
</label>
<label for="staff_forn_1_211">
<input required type="radio" id="staff_forn_1_211"  name="contact[Are you willing to share 1-3 social media posts per month with our product?]" value="No"  />
  <span>No</span>
</label>

</div>

</div>

     


</div>

<div class="staff_form_row">

          <div class="staff_form_col staff_form_col_12">

            <div class="staff_form_gp staff_form_gp_radio ">
              <p>Would you be willing to provide a review video about your new gear for use on social media channels? *</p>

<label for="staff_forn_1_5110">
<input required type="radio" id="staff_forn_1_5110"  name="contact[Would you be willing to provide a review video about your new gear for use on social media channels?]" value="Yes"  />
  <span>Yes</span>
</label>
<label for="staff_forn_1_2111">
<input required type="radio" id="staff_forn_1_2111"  name="contact[Would you be willing to provide a review video about your new gear for use on social media channels?]" value="No"  />
  <span>No</span>
</label>

</div>

</div>

     


</div>

<div class="staff_form_row">

          <div class="staff_form_col staff_form_col_12">

            <div class="staff_form_gp staff_form_gp_radio ">
              <p>Have you ever used WindRider products? *</p>

<label for="staff_forn_1_51120">
<input required type="radio" id="staff_forn_1_51120"  name="contact[Have you ever used WindRider products?]" value="Yes"  />
  <span>Yes</span>
</label>
<label for="staff_forn_1_21211">
<input required type="radio" id="staff_forn_1_21211"  name="contact[Have you ever used WindRider products?]" value="No"  />
  <span>No</span>
</label>

</div>

</div>

     


</div>

<div class="staff_form_row">

          <div class="staff_form_col staff_form_col_12">

            <div class="staff_form_gp">
<label for="staff_forn_fish_anyq">Any other questions or comments? </label>
              <textarea   id="staff_forn_fish_anyq"  name="contact[Any other questions or comments?]"></textarea>


</div>

</div>

     


</div>

<div class="staff_form_row text-center staff_btn_submit">

          <div class="staff_form_col staff_form_col_12">

            <div class="staff_form_gp">
          <button type="submit" class="btn btn--secondary"><i class="mr-5">{% render 'icon-theme-196' %}</i>{{ 'contact.form.send' | t }}</button>


</div>

</div>

     


</div>

{% endform %}


</div>


</div>


</div>



</div>

<style type="text/css">

.staff_form_head {
    background: #000;
    height: 350px;
    text-align: center;
}



.staff_form_head_inner h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.staff_form_head_inner p {
    color: #fff;
}

.staff_form_dividwe {
    width: 100px;
    height: 7px;
    margin: auto;
    display: -webkit-box;      
  display: -moz-box;        
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
   
}

.staff_form_dividwe span:first-child {
    background: #fff;
}

.staff_form_dividwe span {
    display: inline-block;
    height: 7px;
    width: 50px;
}

.staff_form_dividwe span:last-child {
    background: rgb(15,128,194);
}

.staff_form_head_inner h2 span {color: rgb(15,128,194);}

.staff_form_box {
    background: #f7f7f7;
}

.staff_form_wrapper_inner {
    max-width: 800px;
    background: #fff;
    padding: 50px;
    margin: auto;
    border: 2px solid #E4EAF8;
    box-sizing: border-box;
    box-shadow: 0px 21px 30px rgba(0 ,0 ,0 ,0.05%);
}

.staff_form_head_inner {
    padding: 60px 0 0 0;
}

.staff_form_wrapper {
    position: relative;
    top: -100px;
}

.staff_form_col_6 {
    width: 50%;
    padding: 0 15px;
    float: left;
}

.staff_form_gp label {
    margin: 0 0 7px 0;
}

.staff_form_row:after {content: "";clear: both;display: block;}

.staff_form_row {
    margin: 0 -15px;
}

.staff_form_col_12 {
    padding: 0 15px;
}

.staff_form_col_4 {
    width: 33.3%;
    padding: 0 15px;
    float: left;
}

.staff_form_gp.staff_form_gp_radio p {
    margin-bottom: 7px;
}

.staff_form_gp.staff_form_gp_radio {
    margin-bottom: 20px;
}

.staff_form_gp.staff_form_gp_radio input[type="radio"] {
    display: none;
}

.staff_form_gp.staff_form_gp_radio label span {
    position: relative;
    padding-left: 20px;
}

.staff_form_gp.staff_form_gp_radio label span:before {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
}

.staff_form_gp.staff_form_gp_radio label span:after {content: "";
  position: absolute;
  left: 3px;
  top: 6px;
  width: 9px;
  height: 9px;
  background: #000;
  border-radius: 50%;
  opacity: 0;}

.staff_form_gp.staff_form_gp_radio label input:checked +  span:after {
    opacity: 1;
}

.staff_form_gp.staff_form_gp_radio > label:not(:last-child) {
    margin-right: 20px;
}

.staff_form_row .staff_form_gp button {
    background: rgb(15,128,194);
    color: #fff;
}

.staff_form_row .staff_form_gp button svg {
    fill: #fff !important;
}

</style>